{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业信息添加表单</title>
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/icon" href="http://jobsky.csu.edu.cn/favicon.png">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<style media="screen">
		.form{
			width: 70%;
		}
		h3{
			margin-top: 50px;
			margin-bottom: 60px;
		}
		.btn{
			margin: 25px;
		}
	</style>
</head>
<body class="all_bgcolor">
	<center>
		<h3>添加企业信息</h3>
		<form method="post" action="{% url 'enterprisesInsert' session.id %}" enctype="multipart/form-data" class="form">
			{% csrf_token %}
			<div class="form-group row">
		    <label for="enterprise" class="col-sm-4 col-form-label">企  业：</label>
				<div class="col-sm-6">
		    	<input type="text" disabled name="enterprise" class="form-control" id="enterprise" value="{{ session.enterprise }}">
				</div>
		  </div>
			<div class="form-group row">
		    <label for="start_time" class="col-sm-4 col-form-label">宣讲时间：</label>
				<div class="col-sm-6">
		    	<input type="text" disabled name="start_time" class="form-control" id="start_time" value="{{ session.start_time }}">
				</div>
		  </div>
			<div class="form-group row">
		    <label for="place" class="col-sm-4 col-form-label">宣讲地点：</label>
				<div class="col-sm-6">
		    	<input type="text" disabled name="place" class="form-control" id="place" value="{{ session.place }}">
				</div>
		  </div>
			<div class="form-group row">
		    <label for="contacts" class="col-sm-4 col-form-label">联系人：</label>
				<div class="col-sm-6">
		    	<input type="text" name="contacts" class="form-control" id="contacts" placeholder="联系人">
				</div>
		  </div>
			<div class="form-group row">
		    <label for="phone" class="col-sm-4 col-form-label">联系方式：</label>
				<div class="col-sm-6">
		    	<input type="text" name="phone" class="form-control" id="phone" placeholder="phone number">
				</div>
		  </div>
			<input type="submit" value="确认" class="btn btn-primary">
			<input type="reset" value="重置" class="btn btn-primary">
			<br>
		</form>
	</center>
</body>
</html>
