{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业信息修改表单</title>
</head>
<body>
	<center>
		{% include "myapp/enterprises/header.html" %}
		<h3>修改企业信息</h3>
		<form method="post" action="{% url 'enterprisesUpdate' %}" enctype="multipart/form-data">
			<input type="hidden" name="id" value="{{enterprise.id}}">
			{% csrf_token %}
			企业名称：<input type="text" name="enterprise" value="{{enterprise.enterprise}}">
			<br><br>
			宣讲时间：<input type="text" name="time" value="{{enterprise.time}}">
			<br><br>
			宣讲地点：<input type="text" name="place" value="{{enterprise.place}}">
			<br><br>
			<input type="submit" value="修改">
			<input type="reset" value="重置">
		</form>
	</center>
</body>
</html>
