{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业信息浏览</title>
	<style type="text/css">
		table{text-align: center;border-collapse: collapse;}
		table,th,td{border: 1px solid black;}
	</style>
</head>
<body>
	<center>
			{% include "myapp/enterprises/header.html" %}
			<h3>浏览企业信息</h3>
			<table width="800px">
				<tr>
					<th>企业名称</th>
					<th>宣讲时间</th>
					<th>宣讲场地</th>
					<th>操  作</th>
				</tr>
				{% for enterprise in enterpriseslist %}
					<tr>
						<td>{{enterprise.enterprise}}</td>
						<td>{{enterprise.time|date:'Y-m-d  h:i'}}</td>
						<td>{{enterprise.place}}</td>
						<td>
							<a href="{% url 'enterprisesEdit' enterprise.id %}">编辑</a>
							<a href="javascript:doDel('{% url 'enterprisesDelete' enterprise.id %}');">删除</a>
							<!--    这里{% url 'enterprisesDelete' enterprise.id %}两端一定要加上引号！！！！！  -->
						</td>
					</tr>
				{% endfor %}
			</table>
			<br>
			{% for i in plist %}
                {% if i == pIndex %}
                    <b style="color:red">{{i}}</b>
                {% else %}
                    <a href="{% url 'enterprises' i %}">{{i}}</a>
                {% endif %}
            {% endfor %}
	</center>

	<!-- js样式  -->
	<script type="text/javascript">
		function doDel(url){
			if(confirm("确定删除吗？")){
				//网页跳转
				window.location = url
			}
		}
	</script>
</body>
</html>
