<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/icon" href="http://jobsky.csu.edu.cn/favicon.png">
	<title>主页</title>
	<style type="text/css">
		a{text-decoration: none;}
		#x2{
			display: flex;
			justify-content: flex-end;
			color: rgb(10,255,180);
			position: relative;
			margin-right: 15%;
		}
		#choose {
			display: flex;
			justify-content: center;
		}
		#choose h2 {
			margin-left: 25px;
			margin-right: 25px;
		}
		.bgcolor{
			background-color: #FFFFB7;
		}
	</style>
</head>
<body class="bgcolor">
	<center>
		<br><br><br><br><br>
		<h1>中南大学就业信息办</h1>
		<!--<h2 id=x2>----浅鱼工作室</h2>-->
		<br>
		<div id="choose">
			<h2><a href="{% url 'enterprisesAdd' %}">我是企业</a></h2>
			<h2><a href="{% url 'studentsAdd' %}">我是学生</a></h2>
		</div>
	</center>
</body>
</html>
