{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业信息修改表单</title>
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/icon" href="http://jobsky.csu.edu.cn/favicon.png">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<!-- 日期时间插件 flatpickr.js -->
	<link href="https://cdn.bootcss.com/flatpickr/4.5.0/flatpickr.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/flatpickr/4.5.0/flatpickr.min.js"></script>
	<!-- 日期时间插件 flatpickr.js 结束 -->
	<style media="screen">
		form{
			width: 60%;
		}
		h3{
			margin-top: 50px;
			margin-bottom: 100px;
		}
		.btn{
			margin: 30px;
		}
	</style>
</head>
<body>
	<center>
		{% include "myapp/enterprises/header.html" %}
		<h3>修改企业信息</h3>
		<form method="post" action="{% url 'enterprisesUpdate' %}" enctype="multipart/form-data">
			<input type="hidden" name="id" value="{{enterprise.id}}">
			{% csrf_token %}
			<div class="form-group row">
		    <label for="enterprise" class="col-sm-3 col-form-label">企业名称：</label>
				<div class="col-sm-9">
		    	<input type="text" name="enterprise" class="form-control" id="enterprise" value="{{enterprise.enterprise}}">
				</div>
		  </div>
			<div class="form-group row">
		    <label for="place" class="col-sm-3 col-form-label">宣讲地点：</label>
				<div class="col-sm-9">
		    	<input type="text" name="place" class="form-control" id="place" value="{{enterprise.place}}">
				</div>
		  </div>
			<div class="form-group row">
		    <label for="time" class="col-sm-3 col-form-label">宣讲时间：</label>
				<div class="col-sm-9">
					<input class="flatpickr mycalendar" name="start_time" data-enable-time="true" data-time_24hr="true" value="{{enterprise.start_time|date:'Y-m-d  h:i'}}" > -
					<input class="flatpickr mycalendar" name="end_time" data-enable-time="true" data-time_24hr="true" value="{{enterprise.end_time|date:'Y-m-d  h:i'}}" >
				</div>
		  </div>
			<input type="submit" value="确认" class="btn btn-primary">
			<input type="reset" value="重置" class="btn btn-primary">
		</form>
	</center>
	<!-- 初始化  日期时间插件 flatpickr.js -->
	<script type="text/javascript">
		$(".mycalendar").flatpickr();
	</script>
</body>
</html>
