<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/all_page.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class="all_bgcolor">
  <h2>学生信息管理</h2>
  <a href="{% url 'index' %}">首页</a> |
  <a href="{% url 'enterprises' 1 %}">企业信息</a> |
  <a href="{% url 'students' 1 %}">学生信息</a> |
  <a href="{% url 'studentsAdd' %}">添加学生</a>
  <hr>
</body>
</html>
