{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  	<title>中南大学就业信息中心</title>
		<meta name="description" content="中南大学就业信息中心是。。。。。。">
	  <meta name="Keywords" content="中南大学、就业信息中心、jobsky">
		<script src="{% static 'jquery.min.js' %}"></script>
    <!-- Bootstrap -->
  	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'web/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="{% static 'web/js/jquery-1.12.4.min.js' %}"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<!-- 兼任ie9以下 -->
  	<!--[if lt IE 9]>
      		<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      		<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  	<![endif]-->
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/app.css' %}">
    <link rel="icon" type="image/icon" href="http://jobsky.csu.edu.cn/favicon.png">
    {% block mylink %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'web/js/rem.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/topNav.js' %}?id=12343456"></script>

</head>
<body>
	<!-- 导航 -->
	<div class="layout-header" id="scroll-wrap">
		<nav class="navbar navbar-default navbar-fixed-top header hidden-xs hidden-sm">
			<div class="container clearfix">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="layout-header-logo navbar-left">
							<a href="{% url 'enterprises' 1 %}" class="layout-header-logo-link" alt="中南大学">
								<img src="{% static 'web/img/logo.png' %}">
							</a>
					</div>
					<ul class="nav navbar-nav navbar-right layout-header-service clearfix">
							<li class="layout-header-service-item" id="layoutHeaderUser">
								<a class="layout-header-service-link g-user" style="background: #fff;width:auto;" href="#">
									<i class="glyphicon glyphicon-user"></i>
									<span>{{request.session.volunteers.username}}</span>
								</a>
								<div class="layout-user-downmenu">
									<ul class="layout-user-downmenu-list">
									{% if request.session.volunteers %}
										<li class="layout-user-downmenu-item">
											<a href="{% url 'volunteers_sessions' 1 %}" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_myorder">招聘会</a>
										</li>
										<li class="layout-user-downmenu-item">
											<a href="{% url 'volunteers_info' %}" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_myorder">个人中心</a>
										</li>
										<li class="layout-user-downmenu-item">
											<a href="{% url 'logout' %}" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_mformy">退出</a>
										</li>
									{% else %}
										<li class="layout-user-downmenu-item">
											<a href="{% url 'login'%}" class="layout-user-downmenu-link">立即登录</a>
										</li>
										<li class="layout-user-downmenu-item">
											<a href="{% url 'register'%}" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_register">立即注册</a>
										</li>
									{% endif %}
									</ul>
								</div>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right layout-header-nav clearfix">
						<li class="layout-header-nav-item">
							<a href="{% url 'enterprises' 1 %}" class="layout-header-nav-link"> 首页 </a><p class="line-top hidden-xs"></p>
						</li>
					</ul>
				</div>
				 <!-- /.navbar-collapse -->
			</div>
		</nav>
		<!-- 移动端结构 -->
		<div class="scroll-view">
			<header id="header" class="header">
				<h2>请使用电脑端登录</h2>
			</header>
		</div>
	</div><!-- 导航 E-->

  <!-- 主内容区域 -->
  {% block mainbody %}
  {% endblock %}
  <!-- 主内容区域  E-->

  <!-- 底部区域 -->

	<!-- 底部区域 E -->

  <!-- 返回顶部 -->
  <div class="layout-magnet layout-magnet-show">
    <div class="layout-magnet-item layout-magnet-item-top">
      <a href="javascript:void(0);" class="layout-magnet-link" data-mtype="wmz_public_cbxf_top">
        <div class="layout-magnet-icon">
          <i class="glyphicon glyphicon-menu-up"></i>
        </div>
      </a>
    </div>
  </div><!-- 返回顶部 E-->

  <script type="text/javascript">
  //回顶部
   backTop();
  //顶部导航鼠标经过出现内容
   topNav();
  //登录图片鼠标经过
   topLogin();

   {% block myjs %}
     //
     leftNav();
   {% endblock %}
  </script>
	<script src="{% static 'web/js/site.js' %}"></script>

</body>
</html>
