{% extends "web/base.html" %}
{% load static from staticfiles %}

{% block mylink %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/order.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/order-app.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myadmin/css/users_index.css' %}">
<link rel="icon" type="image/icon" href="http://jobsky.csu.edu.cn/favicon.png">
{% endblock %}


{% block mainbody %}
<div class="mainbody order">
  <div class="container">
    <!-- 面包屑导航 -->
    <div class="crumbs col-xs-12 col-sm-12">
      <ol class="breadcrumb">
        <li class="hidden-xs hidden-sm"><a href="{% url 'enterprises' 1 %}">首页</a></li>
        <li class="hidden-xs hidden-sm"><a href="{% url 'volunteers_sessions' 1 %}">人员管理</a></li>
        <li class="active">人员浏览</li>
      </ol>
    </div><!-- 面包屑导航 E-->

    <div class="main clearfix">
        <!-- 左侧导航 -->
        <div class="left-nav f-fl col-md-4 hidden-xs hidden-sm">
            <div class="nav-main">
                <a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 招聘会</a>
                <a href="{% url 'volunteers_sessions' 1 %}" class="ml " >我的招聘会</a>
                <a href="{% url 'ssessionsAdd' %}" class="ml " >添加招聘会</a>
                <a href="{% url 'sessions' 1 %}" class="ml" >所有招聘会</a>

                {% if state == 0 %}
                  <a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 人员管理</a>
                  <a href="{% url 'myadmin_users_index' 1 %}" class="ml active" >人员浏览</a>
                  <a href="{% url 'myadmin_users_add' %}" class="ml" >添加人员</a>
                {% endif %}

                <a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 个人中心</a>
                <a href="{% url 'volunteers_info' %}" class="ml " >浏览信息</a>
                <a href="{% url 'volunteers_edit' %}" class="ml " >修改信息</a>
                <a href="{% url 'volunteers_resetpass' %}" class="ml " >重置密码</a>
                <!-- <a href="#" class="ml " >我的收藏</a>
                <a href="#" class="ml " >消息提醒</a>
                <a href="#" class="ml " >建议反馈</a> -->
            </div>
        </div><!-- 左侧导航 E-->

        <!-- 右侧内容展示 -->
        <div class="right-content f-fr col-md-8 col-xs-12 col-sm-12">
            <!-- 主体开始 -->
						<h3>
							管理员与志愿者信息浏览
						</h3>
						<form role="form" class="form-inline select_area" action="{% url 'myadmin_users_index' 1 %}" method="get">
              <div class="form-group">
                <label>关键字：</label>
                <input type="text" name="keywords" value="{{request.GET.keywords}}" class="input-small form-control" placeholder="账号/姓名">
              </div>
              <div class="form-group">
                <label>性别：</label>
  						  <select name="sex" class="form-control">
  						      <option value="">全&emsp;部&emsp;</option>
  						      <option value="1" {% if request.GET.sex == '1' %}selected{% endif %}>&emsp;男</option>
  						      <option value="0" {% if request.GET.sex == '0' %}selected{% endif %}>&emsp;女</option>
  						  </select>
              </div>
						  <button type="submit" class="btn btn-default">搜索</button>
						  <a href="{% url 'myadmin_users_index' 1 %}" class="btn btn-default">全部</a>
						</form>
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>id号</th>
									<th>账号</th>
									<th>姓名</th>
									<th>性别</th>
									<th>学号</th>
									<th>邮箱</th>
									<th>注册时间</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								{% for vo in userslist %}
									{% if vo.username != 'ziyichen' %}
									<tr>
										<td>{{ vo.id }}</td>
										<td>{{ vo.username }}</td>
										<td>{{ vo.name }}</td>
										<td>{% if vo.sex == 1 %}男{% else %}女{% endif %}</td>
										<td>{{ vo.student_id }}</td>
										<td>{{ vo.email }}</td>
										<td>{{ vo.addtime }}</td>
										<td>{% if vo.state == 1 %}志愿者{% elif vo.state == 2 %}禁用{% else %}后台管理员{% endif %}</td>
										<td>
											<a href="{% url 'myadmin_users_editpasswd' vo.id %}" class="btn btn-sm btn-success">重置密码</a>
											<a href="{% url 'myadmin_users_edit' vo.id %}" class="btn btn-sm btn-primary">编辑</a>
											{% if vo.username != 'csu_jobsky' %}
											<a href="javascript:doDel('{% url 'myadmin_users_del' vo.id %}')" class="btn btn-sm btn-danger">删除</a>
											{% endif %}
										</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
            <center>
              <nav aria-label="Page navigation">
                  <ul class="pagination">
                      <li>
                        <a href="{% url 'myadmin_users_index' pIndex|add:-1 %}?{{ mywhere|join:'&' }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      {% for p in plist %}
                      <li {% if pIndex == p %}class="active"{% endif %}>
                        <a href="{% url 'myadmin_users_index' p %}?{{ mywhere|join:'&' }}">{{p}}</a>
                      </li>
                      {% endfor %}
                      <li>
                        <a href="{% url 'myadmin_users_index' pIndex|add:1 %}?{{ mywhere|join:'&' }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                  </ul>
              </nav>
            </center>
						<script type="text/javascript">
						  function doDel(url){
						    if(confirm("确定删除吗？")){
						      //网页跳转
						      window.location = url
						    }
						  }
						</script>
        </div>
    </div>
  </div>
</div>
<!-- 主内容区域 E-->
{% endblock %}
