{% extends "web/base.html" %}
{% load static from staticfiles %}

{% block mylink %}
  <link rel="stylesheet" type="text/css" href="{% static 'web/css/order.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/css/order-app.css' %}">
{% endblock %}

{% block mainbody %}
<div class="mainbody order">
  <div class="container">
	<!-- 面包屑导航 -->
	<div class="crumbs col-xs-12 col-sm-12">
	  <ol class="breadcrumb">
		<li class="hidden-xs hidden-sm"><a href="{% url 'enterprises' 1 %}">首页</a></li>
		<li class="hidden-xs hidden-sm"><a href="{% url 'volunteers_sessions' 1 %}">招聘会</a></li>
		<li class="active">我的招聘会</li>
	  </ol>
	</div><!-- 面包屑导航 E-->

	<div class="main clearfix">
		<!-- 左侧导航 -->
		<div class="left-nav f-fl col-md-4 hidden-xs hidden-sm">
			<div class="nav-main">
        <a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 招聘会</a>
        <a href="{% url 'volunteers_sessions' 1 %}" class="ml active" >我的招聘会</a>
        <a href="{% url 'ssessionsAdd' %}" class="ml " >添加招聘会</a>
        <a href="{% url 'sessions' 1 %}" class="ml " >所有招聘会</a>

        {% if state == 0 %}
          <a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 人员管理</a>
          <a href="{% url 'myadmin_users_index' 1 %}" class="ml" >人员浏览</a>
          <a href="{% url 'myadmin_users_add' %}" class="ml " >添加人员</a>
        {% endif %}

        <a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 个人中心</a>
        <a href="{% url 'volunteers_info' %}" class="ml " >浏览信息</a>
        <a href="{% url 'volunteers_edit' %}" class="ml " >修改信息</a>
        <a href="{% url 'volunteers_resetpass' %}" class="ml " >重置密码</a>
        <!-- <a href="#" class="ml " >我的收藏</a>
        <a href="#" class="ml " >消息提醒</a>
        <a href="#" class="ml " >建议反馈</a> -->
			</div>
		</div><!-- 左侧导航 E-->

		<!-- 右侧内容展示 -->
		<div class="right-content f-fr col-md-8 col-xs-12 col-sm-12">
			<div class="order-main">
				<div class="type-tab-btn">
					<a href="{% url 'volunteers_sessions' 1 %}" class="allOrder active col-20" data-type="-1">我的招聘会</a><i class="line hidden-xs hidden-sm">|</i>
					<a class="waitPay col-20" href="{% url 'ssessionsAdd' %}" data-type="0">添加招聘会<span class="amount _actAmount"></span></a><i class="line hidden-xs hidden-sm">|</i>
					<a class="waitDeliver col-20" href="{% url 'sessions' 1 %}" data-type="1">所有招聘会</a><i class="line hidden-xs hidden-sm">|</i>
					<!-- <a class="hasDeliver col-20" href="javascript:;" data-type="2">已发货</a><i class="line hidden-xs hidden-sm">|</i>
					<a class="other col-20" href="javascript:;" data-type="99">其他</a> -->
				</div>
				<div class="list-head hidden-xs hidden-sm">
                  <ul class="clearfix">
                    <li class="w50">
                        <select id="checkType" class="check-type">
                            <option value="0">近三个月招聘会</option>
                            <option value="1">全部招聘会</option>
                        </select>
                        志愿者总结信息
                    </li>
                    <li class="w125">二维码</li>
                    <li class="w125">联系人</li>
                    <li class="w125">联系电话</li>
                    <li class="w125">操作</li>
                  </ul>
				</div>
				<div id="tableList" class="type-contain ui-load-container">

					<!-- 每个订单信息 -->
					{% for session in sessionslist %}
					<div class="ui-load-content" style="margin-top: 20px">
					  <table class="orderItem">
  						<tbody>
  							<tr class="trHead hidden-xs hidden-sm">
  								<td colspan="4" class="title clearfix">
  								  <div class="f-fl">
  								  	序号：<span class="time">{{ session.id }}</span>
  								  	志愿者：<span class="orderNumber">{{ session.volunteer }}</span>
  								  	企业：<span class="orderNumber">{{ session.enterprise }}</span>
  								  	地点：<span class="orderNumber">{{ session.place }}</span>
                      时间：<span class="orderNumber">{{ session.start_time }}</span>
  								  </div>
  								</td>
  							</tr>
  							<tr class="list-box b-l b-r b-b">
  								<td class="list b-r j-iamCart">
  									<div class="cart-wrap j-CartWrap">
  										<div class="shop j-shop j-amLight">
  											{% for enterprise in session.detaillist %}
  											<div class="item b-t clearfix j-item j-iamMain" style="height:110px;">

  											  <div class="describe f-fl col-xs-8 col-sm-8">
  													<div class="vertic clearfix">
  														<span class="clearfix">
  															<p>
                                  {% if session.summary == "总结待填写..." %}
  															    {{ session.summary }}
                                  {% else %}
                                    <button type="button" class="btn btn-outline-info"><a href="{% url 'sessionsSummary' session.id %}" style="color:black;">总结内容查看</a></button>
                                  {% endif %}
  															</p>

  														</span>
  													</div>
  												</div>
                          <div class="productDetail nameWidth col-xs-4 col-sm-4">
                            <a href="{% url 'index' session.id %}">
                              <img src="/static/qr_pics/{{session.qr_imgname}}" style="width:75px;height:75px" class="f-fl"/>
                            </a>
                            <a href="/static/qr_pics/{{session.qr_imgname}}" target="_blank">
                              <i class="f-fl" style="color:#00c3f5;">下载二维码</i>
                            </a>
                          </div>
  											</div>
  										</div>
  									</div>
  								</td>
  								<td class="b-r w125 center price b-t hidden-xs hidden-sm">
  									<div class="priceDiv">
                      <div>
                       {% if enterprise.contacts is null %}
                         {{ session.enterprise }}
                       {% else %}
                         {{ enterprise.contacts }}
                       {% endif %}
                      </div>
  									</div>
  								</td>
  								<td class="b-r w125 center state b-t hidden-xs hidden-sm">
  									<div class="stateDiv">
  										   <div>
  										   	{% if enterprise.phone is null %}
  							            {{ session.enterprise }}
  							          {% else %}
  							            {{ enterprise.phone }}
  							          {% endif %}
  										   </div>
  									</div>
  								</td>
  								<td class="w125 center opreat b-t hidden-xs hidden-sm">
                    <button type="button" class="btn btn-success btn-sm"><a href="{% url 'sessionsEdit' session.id %}" style="color:white;">编辑</a></button>
                    <button type="button" class="btn btn-danger btn-sm" id="delete_session"><a href="javascript:doDel('{% url 'sessionsDelete' session.id %}');" style="color:white;">删除</a></button>
  								</td>
                  {% endfor %}
  							</tr>
  						</tbody>
				     </table>
					</div>
					{% endfor %}
					<!-- 每个订单信息 end-->
          <center>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                      <a href="{% url 'volunteers_sessions' pIndex|add:-1 %}?{{ mywhere|join:'&' }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% for p in plist %}
                    <li {% if pIndex == p %}class="active"{% endif %}><a href="{% url 'sessions' p %}?{{ mywhere|join:'&' }}">{{p}}</a></li>
                    {% endfor %}
                    <li>
                      <a href="{% url 'volunteers_sessions' pIndex|add:1 %}?{{ mywhere|join:'&' }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                </ul>
            </nav>
          </center>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
<script type="text/javascript">
  function doDel(url){
    if(confirm("确定删除吗？")){
      //网页跳转
      window.location = url
    }
  }
</script>
<!-- 主内容区域 E-->
{% endblock %}
