<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生信息添加表单</title>
</head>
<body>
	<center>
		<h3>添加学生信息</h3>
		<form method="post" action="{% url 'studentsInsert' %}" enctype="multipart/form-data">
			{% csrf_token %}
			姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 名：<input type="text" name="name">
			<br><br>
			学 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 校：<input type="text" name="school">
			<br><br>
			专 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 业：<input type="text" name="major">
			<br><br>
			宣讲企业：<input type="text" name="enterprise">
			<br><br>
			宣讲地点：<input type="text" name="place">
			<br><br>
			宣讲时间：<input type="text" name="time">
			<br>格式：2018-09-18 14:30
			<br><br>
			<input type="submit" value="确认">
			<input type="reset" value="重置">
		</form>
	</center>
</body>
</html>
