{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生信息浏览</title>
	<style type="text/css">
		table{text-align: center;border-collapse: collapse;}
		table,th,td{border: 1px solid black;}
	</style>
</head>
<body>
	<center>
			{% include "myapp/students/header.html" %}
			<h3>浏览学生信息</h3>
			<table width="800px">
				<tr>
					<th>学生姓名</th>
					<th>学  校</th>
					<th>专  业</th>
					<th>宣讲会企业名称</th>
					<th>宣讲时间</th>
					<th>宣讲地点</th>
					<th>操  作</th>
				</tr>
				{% for student in studentslist %}
					<tr>
						<td>{{student.stu_name}}</td>
						<td>{{student.school}}</td>
						<td>{{student.major}}</td>
						<td>{{student.enterprise}}</td>
						<td>{{student.time|date:'Y-m-d  h:i'}}</td>
						<td>{{student.place}}</td>
						<td>
							<a href="{% url 'studentsEdit' student.id %}">编辑</a>
							<a href="javascript:doDel('{% url 'studentsDelete' student.id %}');">删除</a>
							<!--    这里{% url 'studentsDelete' student.id %}两端一定要加上引号！！！！！  -->
						</td>
					</tr>
				{% endfor %}
			</table>
			<br>
			{% for i in plist %}
                {% if i == pIndex %}
                    <b style="color:red">{{i}}</b>
                {% else %}
                    <a href="{% url 'students' i %}">{{i}}</a>
                {% endif %}
            {% endfor %}
	</center>

	<!-- js样式  -->
	<script type="text/javascript">
		function doDel(url){
			if(confirm("确定删除吗？")){
				//网页跳转
				window.location = url
			}
		}
	</script>
</body>
</html>
